{% comment %}
  Renders product pre-order-tag

  Accepts:
  - product: {Object} product object.
  Usage:
  {% render 'pre-order-tag', product: product %}
{% endcomment %}

{% assign now = 'now' | date: '%s' %}
{% if product.available
  and product.selected_or_first_available_variant
  and product.variants.size <= 1
  and product.selected_or_first_available_variant.metafields.custom.pre_order
%}
  {% assign order_date = product.selected_or_first_available_variant.metafields.custom.pre_order | date: '%s' %}
  {% if order_date > now %}
    <h6 style="color: green">{{ 'products.product.pre_order.on_pre_order' | t }}</h6>
  {% endif %}
{% else %}
  {% assign all_variants_have_pre_order = true %}
  {% assign some_variants_have_pre_order = false %}

  {% for variant in product.variants %}
    {% if variant.metafields.custom.pre_order and variant.available %}
      {% assign order_date = variant.metafields.custom.pre_order | date: '%s' %}
      {% if order_date <= now %}
        {% assign all_variants_have_pre_order = false %}
      {% elsif some_variants_have_pre_order != true %}
        {% assign some_variants_have_pre_order = true %}
      {% endif %}
    {% else %}
      {% assign all_variants_have_pre_order = false %}
    {% endif %}
  {% endfor %}

  {% if all_variants_have_pre_order and product.available %}
    <h6 style="color: green">{{ 'products.product.pre_order.all_variants_on_pre_order' | t }}</h6>
  {% elsif some_variants_have_pre_order and product.available %}
    <h6 style="color: green">{{ 'products.product.pre_order.some_variants_on_pre_order' | t }}</h6>
  {% endif %}
{% endif %}
